<?xml version="1.0"?>

<model>
  <name>Alvar Target</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jose Fajardo y Rafael Rincon</name>
    <email>jmfajardod@gmail.com // rafael.rinconfo@gmail.com</email>
  </author>

  <description>
    Tag para seguimiento por parte del robot
  </description>

</model>
